Source: ros-humble-micro-ros-diagnostic-bridge
Section: misc
Priority: optional
Maintainer: Bartolome Jimenez Vera <bjv@capra.ooo>
Build-Depends: debhelper (>= 9.0.0), ros-humble-ament-cmake-gtest <!nocheck>, ros-humble-ament-cmake-ros, ros-humble-ament-lint-auto <!nocheck>, ros-humble-ament-lint-common <!nocheck>, ros-humble-diagnostic-msgs, ros-humble-diagnostic-msgs <!nocheck>, ros-humble-micro-ros-diagnostic-msgs, ros-humble-micro-ros-diagnostic-msgs <!nocheck>, ros-humble-osrf-testing-tools-cpp <!nocheck>, ros-humble-rclcpp, ros-humble-ros-environment <!nocheck>, ros-humble-ros-workspace
Homepage: 
Standards-Version: 3.9.2

Package: ros-humble-micro-ros-diagnostic-bridge
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-humble-diagnostic-msgs, ros-humble-micro-ros-diagnostic-msgs, ros-humble-rclcpp, ros-humble-ros-workspace
Description: Translates micro-ROS diagnostic messages to vanilla ROS 2 diagnostic messages.
