Source: ros-rolling-micro-ros-diagnostic-bridge
Section: misc
Priority: optional
Maintainer: Bartolome Jimenez Vera <bjv@capra.ooo>
Build-Depends: debhelper (>= 9.0.0), ament-cmake-copyright <!nocheck>, ament-cmake-cppcheck <!nocheck>, ament-cmake-cpplint <!nocheck>, ament-cmake-flake8 <!nocheck>, ament-cmake-googletest <!nocheck>, ament-cmake-lint-cmake <!nocheck>, ament-cmake-pep257 <!nocheck>, ament-cmake-ros, ament-cmake-uncrustify <!nocheck>, ament-cmake-xmllint <!nocheck>, ament-lint <!nocheck>, libdiagnostic-msgs-dev, libdiagnostic-msgs-dev <!nocheck>, libosrf-testing-tools-cpp-dev <!nocheck>, python3-diagnostic-msgs, python3-diagnostic-msgs <!nocheck>, ros-diagnostic-msgs, ros-diagnostic-msgs <!nocheck>, ros-environment <!nocheck>, ros-rolling-micro-ros-diagnostic-msgs, ros-rolling-micro-ros-diagnostic-msgs <!nocheck>, ros-rolling-rclcpp, ros-rolling-ros-workspace
Homepage: 
Standards-Version: 3.9.2

Package: ros-rolling-micro-ros-diagnostic-bridge
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libdiagnostic-msgs-dev, python3-diagnostic-msgs, ros-diagnostic-msgs, ros-rolling-micro-ros-diagnostic-msgs, ros-rolling-rclcpp, ros-rolling-ros-workspace
Description: Translates micro-ROS diagnostic messages to vanilla ROS 2 diagnostic messages.
